@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 140px auto 0;
}

.textBox {
  resize: none;
  width: 800px;
  height: 220px;
  padding: 10px;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid #7159c1;
}

.counter {
  margin-bottom: 14px;
}

#counterChars {
  background: transparent;
  border: transparent;
  font-size: 18px;
}

.buttons {
  display: flex;
  max-width: 800px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  padding: 10px;
  margin: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  color: #fff;
  background-color: #7159c1;
  border: 1px solid #7159c1;
  transition: 0.3s all ease;
}

button:hover {
  background-color: #513e8f;
}

#toast {
  visibility: hidden;
  width: 240px;
  margin-left: -125px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 16px;
}

#toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 1.7s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 850px) {
  .textBox {
    width: 640px;
  }
}

@media screen and (max-width: 650px) {
  .textBox {
    width: 440px;
  }
}

@media screen and (max-width: 475px) {
  .container {
    margin-top: 60px;
  }

  .textBox {
    width: 310px;
  }
}